@font-face {
  src: url(fonts/Textile.ttf);
  font-family: textile;
}


.mobile-container {
  height: 100%;
}

.desktop-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
  width: 300px;
  align-items: center;
  border: 4px solid black;
  border-radius: 10px;
  background-color: rgba(9, 132, 227,0.95);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, .7);
}

.iasip-text {
  font-family: textile;
  font-size: 50px;
  text-align: center;
}

.scoreboard {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.team-score {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  line-height: 0.05
}

.top-options {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 70px;
  border-bottom: 3px solid black;
}

.team-name {
  height: 100%;
  width: 75%;
  border-right: 2px solid black;
}
